# Python & Artifacts
__pycache__/
*.py[cod]
*.so
.DS_Store

# Environments
.env
.venv
env/
venv/
wandb/

# IDEs
.vscode/
.idea/

# Model Checkpoints & Data
models/
checkpoints/
*.pth
*.zip
videos/
results/
